.heading {
  font-weight: bolder !important;
}

.borderColor {
  border: 1px solid rgb(223, 218, 218);
}

.hoverBody:hover {
  cursor: pointer;
  background-color: #f2f1f1;
}

.danger {
  background-color: rgb(211, 84, 69);
}

.almostDanger {
  background-color: #eed202;
}